body{
    margin:0px;
    padding:0px;
}

.preheader{
    width:100%;
    height:130px;
    background-color:rgb(0, 0, 0);
    display: flex;

}

.fa {
    padding: 60px;
    font-size: 50px;
    width:40px;
    text-align: right;
    text-decoration: none;
    margin: 8px 30px;
  }  
  .fa-facebook {
    color: #3B5998;
  }
  
  .fa-twitter {
    color: #55ACEE;
  }
  .fa-youtube {
    color:#bb0000;
  }
  
  .fa-instagram {
    
    color:crimson;
  }  

.main_header{
    width:100%;
    height:100px;
    display:flex;
}

.main_header{
   width:100%;
   height: 90px;
   background: color rgb(12, 91, 128);
}
.logo{
    width: 48%;
    height: 100%;
}

.sub_logo{
    margin-top:-50px;
    margin-left:230px;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: fantasy;
}


.menu{
    width: 10%;
    height:70px;
}

.menu ul{
    list-style:square;
    margin:0px;
    padding:0px;
    float:right;
}

.menu ul li{
    display:inline-block;
}
.menu ul li a{
    text-decoration:rgb(16, 221, 221);
    color:rgb(248, 212, 144);
    padding:25px 20px;
    font-size:23px;
    font-weight:inherit;
    font-family:cursive;
    text-align: center;
}

.menu ul li  a:hover{
    color: rgb(15, 235, 180);
    background-color:lightslategray;
    border-radius: 30px;

}
.main_header {background-color: rgb(0, 2, 128);}
.main_header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
  }
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  ul li {display: inline-block;}
  ul li:hover {background: #555;}
  ul li:hover ul {display: block;}
  ul li ul {
    position: absolute;
    width: 100px;
    display: none;
  }
  ul li ul li { 
    background: #555; 
    display: block; 
    width:300px;
  }
  ul li ul li a {display:block !important;} 
  ul li ul li:hover {background: #666;width:300px;}


.slider{
    width:100%;
    height: 600px; 
    background-image: url('../assets/image/ipl\ image.jpg');
    background-repeat:round;
    background-size:cover;
}
